<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-ecology-spreadsheet">Data Organization in Spreadsheets</h3>
    <ul>
      <li><a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/00-intro/">Introduction</a></li>
      <li><a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/01-format-data/">Formatting data</a></li>
      <li><a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/02-common-mistakes/">Common formatting problems</a></li>
      <li><a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/03-dates-as-data/">Dates as data</a></li>
      <li><a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/04-quality-control/">Quality control</a></li>
      <li><a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/05-exporting-data/">Exporting data</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-ecology-openrefine">Data Cleaning with OpenRefine</h3>
    <ul>
      <li><a href="http://www.datacarpentry.org/OpenRefine-ecology-lesson/00-getting-started/">Introduction</a></li>
      <li><a href="http://www.datacarpentry.org/OpenRefine-ecology-lesson/01-working-with-openrefine/">Working with OpenRefine</a></li>
      <li><a href="http://www.datacarpentry.org/OpenRefine-ecology-lesson/02-filter-exclude-sort/">Filtering and sorting</a></li>
      <li><a href="http://www.datacarpentry.org/OpenRefine-ecology-lesson/03-numbers/">Examining numeric data</a></li>
      <li><a href="http://www.datacarpentry.org/OpenRefine-ecology-lesson/04-scripts/">Generating scripts</a></li>
      <li><a href="http://www.datacarpentry.org/OpenRefine-ecology-lesson/05-save-export/">Exporting data</a></li>    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-ecology-r">Reproducible Research with R</h3>
    <ul>
      <li><a href="http://www.datacarpentry.org/R-ecology-lesson/01-intro-to-r.html">Introduction to R</a></li>
      <li><a href="http://www.datacarpentry.org/R-ecology-lesson/02-starting-with-data.html">Starting with data</a></li>
      <li><a href="http://www.datacarpentry.org/R-ecology-lesson/03-dplyr.html">Manipulating data frames with <code>dplyr</code></a></li>
      <li><a href="http://www.datacarpentry.org/R-ecology-lesson/04-visualization-ggplot2.html">Data visualisation with <code>ggplot2</code></a></li>
    </ul>
  </div>
</div>
