<p id="who">
  <strong>Who:</strong>
  Women in any field of research or industry who would benefit 
  from learning how to code, including graduate students, 
  researchers, faculty, and industry professionals from 
  Memorial University or the greater St. John's community. 
  These workshops will cover introductory material designed 
  for those brand new to programming but may also be suitable 
  for those looking to expand upon existing coding skills 
  by learning a new programming language.
  <strong>
    You don't need to have any previous knowledge of the tools
    that will be presented at the workshop.
  </strong>
</p>
